{% extends "layouts/main.html" %}

{% block content %}
<h1>Sites hinzufügen</h1>
<hr>
<h2>3 vordefinierte Sites hinzufügen</h2>
<ul>
    <li>Bochum</li>
    <li>Berlin</li>
    <li>Köln</li>
</ul>
    <form action="" method="post">
        {{ form1.hidden_tag() }}

        {{ form1.submit1() }}
    </form>
<hr>
<br>
<h2>Beliebiges Site hinzufügen</h2>
    <form action="" method="post">
        {{ form2.hidden_tag() }}
        <p>
            {{ form2.name.label }}<br>
            {{ form2.name(size=32) }}<br>
            {% for error in form2.name.errors %}
          <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form2.region.label }}<br>
            {{ form2.region(size=32) }}<br>
            {% for error in form2.region.errors %}
          <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form2.adresse.label }}<br>
            {{ form2.adresse(size=32) }}<br>
            {% for error in form2.adresse.errors %}
              <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form2.submit2() }}</p>
    </form>

{% endblock %}