{% extends "layouts/main.html" %}

{% block content %}
<H1>Welchen Site möchten Sie bearbeiten?</H1>
<hr>
<br>
 <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name }}<br>
            {% for error in form.name.errors %}
          <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.region.label }}<br>
            {{ form.region(size=32) }}<br>
            {% for error in form.region.errors %}
          <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.adresse.label }}<br>
            {{ form.adresse(size=32) }}<br>
            {% for error in form.adresse.errors %}
              <br>
        <span class="alert alert-danger" role="alert">{{ error }}</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>


{% endblock %}